html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing:inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}
body {
    --color-black: #121214;
    --main-color: #FF9900;
    --color-white: #FFFFFF;
    --main-color-light: #FFB84D;
    --main-color-dark: #0033FF;
    --color-gray: #A6A8AD;;
    --color-line: #CACACA;
    --radius: 32px;
    max-width: 1200px;
    margin: 0 auto;
    --form-radius: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background: var(--color-black);    
    color: var(--color-white);
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1104px;
    margin: 0 auto;
}

.indent{
    margin-top: 96px;
}

.h1, .h2, .h3 {
    margin: 0;
}

.p {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
}

.btn {
    color: var(--color-white);
}

/*nav*/
.nav {
    padding: 0px 23px 0px 20px;
}

.logo {
    margin-right: 29px;
}

.nav__list {
    margin: auto 0;
}

.list {
    color: var(--color-gray);
    margin-right: 22px;
}

.list:last-child {
    margin-right: 0px;
}

.nav__p {
    margin: 25px 0;
    margin-left: auto;
    line-height: 20px;
    margin-right: 20px;
}

.nav__btn {
    margin: auto 0;
    background: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: var(--radius);
    line-height: 18px;
    color: var(--color-black);
    padding: 8px 21px;
    max-height: 35px;
}

/*hero*/

.advertising {
    background-color: var(--main-color-dark);
    padding: 11px 0;
}

.advertising__p {
    margin-left: 277px;
    line-height: 24px;
}

.advertising__link {
    margin: auto auto auto 42px;
}

.hero {
    position: relative;
    background-image: url(../img/hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 744px;
    padding-top: 140px;
}

.hero__h1 {
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 1.08px;
    max-width: 500px;
}

.hero__p {
    margin-bottom: 45px;
    max-width: 500px;
    font-size: 20px;
}

.hero__btn {
    background-color: var(--main-color-dark);
    border-radius: 8px;
    padding: 18px 35px;
}

.link {
    position: absolute;
    display: inline-block;
    bottom: 13px;
    left: 46.5%;
    background-image: url(../img/arrow.svg);
    background-size: 12px 8px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 29px;
}

/*body*/

.body__text {
    margin-top: 109px;
    max-width: 439px;
}

.little {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: var(--color-gray);
}

.body__h2 {
    margin-top: 5px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 12px;
}

.body__btn {
    margin-top: 18px;
    padding: 9px 23px;
    background-color: var(--main-color-dark);
    border-radius: 8px;
}

.SOUNDS  .body__text {    
    margin-right: 85px;
    margin-left: 0;
}

.SOUNDS__img {
    background-image: url(../img/catalog.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 386px;
    width: 67%;
}

.CE .body__text {    
    margin-top: 124px;
    margin-right: 0px;
    margin-left: 85px;
    flex-direction: column;
    align-items: flex-end;
}

.CE__img {
    background-image: url(../img/CE.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 386px;
    width: 67%;
}

.CE .body__p {
    text-align: right;
}

.Gear .body__text {   
    margin-top: 91px; 
    margin-right: 85px;
    margin-left: 0;
}

.Gear__img {
    background-image: url(../img/gear.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 386px;
    width: 67%;
}

.Technology .body__text {    
    margin-top: 94px;
    margin-right: 0px;
    margin-left: 85px;
    flex-direction: column;
    align-items: flex-end;
}


.Technology__img {
    background-image: url(../img/technology.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 386px;
    width: 67%;
}

.Technology .body__p {
    text-align: right;
}

/*splice*/

.splice {
    margin-top: 120px;
}

.splice__h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 22px;
    font-weight: 400;
}

.splice__card {
    background: #F8F8F8;
    border-radius: 8px;
    padding: 32px;
    padding-right: 29px;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    max-width: 361px;
}

.splice__card:last-child {
    margin-right: 0;
}

.carg__img {
    margin-bottom: 30px;
}

.card__p {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.3px;
    color: var(--color-black);
}

.card__little {
    font-weight: 400;
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #767676;
    align-self: start;
}

/*try*/

.try {
    margin-top: 120px;
    background-image: url(../img/try.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 728px;
    flex-direction: column;
    align-items: center;
}

.try__h2 {
    margin: 283px 0 57px;
    font-weight: 400;
    font-size: 54px;
    line-height: 60px;
    
}

.try__btn {
    padding: 11px 23px;
    border-radius: 8px;
    background-color: var(--main-color-dark);
}

/*footer*/

.footer {
    padding: 48px;
    padding-right: 65px;
}

.list__child {
    max-width: 168px;
    margin-bottom: 25px;
}

.footer__list:nth-child(1) {
    margin-right: 18px;
}

.footer__list:nth-child(2) {
    margin-right: 71px;
}

.footer__list:nth-child(3) {
    margin-right: 62px;
}

.footer__list:nth-child(4) {
    margin-right: 87px;
}

.footer__list:nth-child(5) {
    margin-right: 66px;
}

.footer__list:nth-child(6) {
    margin-right: 0px;
}

.footer__list li {
    margin-bottom: 9px;
}

.footer__h3 {
    margin-bottom: 13px;
}

.footer__a {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #A6A8AD;
}

.footer__link {
    margin-top: 57px;
}

.footer__link li:nth-child(1)  {
    margin-right: 46px;
}

.footer__link li:nth-child(2)  {
    margin-right: 33px;
}

.footer__link li:nth-child(3)  {
    margin-right: 32px;
}

.footer__link li:nth-child(4)  {
    margin-right: 29px;
}

.footer__link li:nth-child(5)  {
    margin-right: 27px;
}

.footer__link li:nth-child(6)  {
    margin-right: 33px;
}